/* -------------------------------------------------------------------- */
/* Header */

.header
{
    background-color: rgb(239, 161, 203);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.8;
    overflow: auto;
    z-index: 99;

}


.imghome
{
    float: left;
    margin-left: 20px;
}

.navbardiv ul
{
    float: right;
    margin-right: 50px;
    margin-top: 10px;
    
    
}

.navbardiv ul li
{
    list-style: none;
    display: inline;
    margin: 9px;
    
}



.navbardiv ul li a
{
    text-decoration: none;
    color: white; 
    font-weight: bold;
    font-size: 25px;
    
}


/* -------------------------------------------------------------------- */
/* Home */

body
{
    position: relative;
   
}

.homecontainer
{
    position: relative;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.204) ,rgba(0, 0, 0, 0.221)),url('../images/bg2.jpeg'); 
    background-size: cover;
    
} 

.home
{
    
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%,50%);
    background-color: rgba(0, 0, 0, 0.293);
    width: 80%;
    text-align: center;
    padding: 20px 0px;
    color:white;
    font-family: sans-serif;
}

.home h1
{
    font-weight: bold;
    font-size: 50px;
    color: white;
   
}

.home p
{
  
    font-size: 35px;
    padding: 15px 0px;
}

.home button
{
    color: white;
    background-color: rgb(25, 25, 22);
    font-size: 30px;
    padding: 12px;
    border-radius: 50%;
  
}

.home button a
{
    text-decoration: none;
    color: white;
}
